@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.errors {
  color: red;
}

.total {
  text-align: center;
}

body {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

#review-h3 {
  margin-left: 20%;
}


#best-worst-div {
  margin-left: 10%;
}
