<div class="container">
  <div class="well">
    <h2>Welcome to Zaps Specialty Foods</h2>
    <h3>Please have a look at our catalog of specialty foods and beverages.</h3>
  </div>
</div>

<p><%= link_to "Go to Products", products_path %></p>
